
<div class="px-5 my-2">
<div class="carousel w-full self-center h-96 ">
    <div id="item1" class="carousel-item w-full">
      <img src="https://i.pinimg.com/564x/f9/b6/ee/f9b6ee085996dee0e22ddc52dda03ac2.jpg" class="w-full" />
    </div> 
    <div id="item2" class="carousel-item w-full">
      <img src="https://i.pinimg.com/564x/7d/9b/7f/7d9b7f5e1d9dcdc233f220d99b1bdd56.jpg" class="w-full" />
    </div> 
    <div id="item3" class="carousel-item w-full">
      <img src="https://i.pinimg.com/236x/ee/03/8a/ee038acf75c0ffc740966ee4e6b2904a.jpg" class="w-full" />
    </div> 
    <div id="item4" class="carousel-item w-full">
      <img src="https://i.pinimg.com/564x/2b/13/53/2b1353e39dd42a30061f5c761ab2d4ff.jpg" class="w-full" />
    </div>
  </div> 
  <div class="flex justify-center w-full py-2 gap-2">
    <a href="#item1" class="badge badge-neutral rounded-full focus:badge-info"></a> 
    <a href="#item2" class="badge badge-neutral rounded-full focus:badge-info"></a> 
    <a href="#item3" class="badge badge-neutral rounded-full focus:badge-info"></a> 
    <a href="#item4" class="badge badge-neutral rounded-full focus:badge-info"></a>
  </div>
</div>