
<div class="px-5 my-2">
  <div class="carousel w-full self-center h-96">
    <div id="item1" class="carousel-item w-full">
      <img src="/img/casallena.jpg" class="w-full h-full object-cover" />
    </div> 
    <div id="item2" class="carousel-item w-full">
      <img src="/img/serviciogente.jpg" class="w-full h-full object-cover" />
    </div> 
    <div id="item3" class="carousel-item w-full">
      <img src="/img/jovenesorando.jpg" class="w-full h-full object-cover" />
    </div> 
    <div id="item4" class="carousel-item w-full">
      <img src="/img/jovenesservicio.jpg" class="w-full h-full object-cover" />
    </div>
</div>

  <div class="flex justify-center w-full py-2 gap-2">
    <a href="#item1" class="badge badge-neutral rounded-full focus:badge-info"></a> 
    <a href="#item2" class="badge badge-neutral rounded-full focus:badge-info"></a> 
    <a href="#item3" class="badge badge-neutral rounded-full focus:badge-info"></a> 
    <a href="#item4" class="badge badge-neutral rounded-full focus:badge-info"></a>
  </div>
</div>