---
import Cardhover from "../components/Cardhover.astro";
---
<div class="w-full flex flex-col gap-5 justify-center items-center my-2 px-5">
  <div class="w-full flex items-center justify-center gap-2 my-4">
    <button class="btn rounded-none btn-primary w-1/2 h-16 text-center"
      >Promesas de Fe</button
    >
    <button class="btn rounded-none btn-primary w-1/2 h-16 text-center"
      >Promesas de Fe</button
    >
  </div>
  <div class="w-full  grid grid-cols-4 gap-5 items-center justify-center">
    <Cardhover
      titulo="Matrimonio"
      descripcion="No lo hagan , huyan "
      imagen="https://i.pinimg.com/236x/c2/1c/cf/c21ccf2982aaeb2072ce39b4df3d7925.jpg"
    />
    <Cardhover
      titulo="Matrimonio"
      descripcion="No lo hagan , huyan "
      imagen="https://i.pinimg.com/236x/c2/1c/cf/c21ccf2982aaeb2072ce39b4df3d7925.jpg"
    />
    <Cardhover
      titulo="Matrimonio"
      descripcion="No lo hagan , huyan "
      imagen="https://i.pinimg.com/236x/c2/1c/cf/c21ccf2982aaeb2072ce39b4df3d7925.jpg"
    />

    <Cardhover
    titulo="Matrimonio"
    descripcion="No lo hagan , huyan "
    imagen="https://i.pinimg.com/236x/c2/1c/cf/c21ccf2982aaeb2072ce39b4df3d7925.jpg"
  />
  <Cardhover
    titulo="Matrimonio"
    descripcion="No lo hagan , huyan "
    imagen="https://i.pinimg.com/236x/c2/1c/cf/c21ccf2982aaeb2072ce39b4df3d7925.jpg"
  />
  <Cardhover
    titulo="Matrimonio"
    descripcion="No lo hagan , huyan "
    imagen="https://i.pinimg.com/236x/c2/1c/cf/c21ccf2982aaeb2072ce39b4df3d7925.jpg"
  /><Cardhover
  titulo="Matrimonio"
  descripcion="No lo hagan , huyan "
  imagen="https://i.pinimg.com/236x/c2/1c/cf/c21ccf2982aaeb2072ce39b4df3d7925.jpg"
/>
<Cardhover
  titulo="Matrimonio"
  descripcion="No lo hagan , huyan "
  imagen="https://i.pinimg.com/236x/c2/1c/cf/c21ccf2982aaeb2072ce39b4df3d7925.jpg"
/>
  </div>
</div>
